@charset "UTF-8";
/* Обнуление */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* -------------------- */
h1 {
  font-size: 40px;
  line-height: 1;
  margin: 0px 0px 50px 0px;
}

h2 {
  font-size: 30px;
  line-height: 1;
  margin: 0px 0px 20px 0px;
}

html, body {
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.cloud-xs {
  background: #FFFFFF;
  -webkit-box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
          box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
  border-radius: 70% 70% 20% 20%;
  position: absolute;
}

.cloud-xs-1 {
  left: 90%;
  top: 11%;
  width: 31px;
  height: 16px;
}

.cloud-xs-2 {
  width: 23.44px;
  height: 11.95px;
  left: 15%;
  top: 61%;
}

.cloud-xxs {
  background: #FFFFFF;
  -webkit-box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
          box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
  border-radius: 70% 70% 20% 20%;
  position: absolute;
  left: 20%;
  top: 58%;
  width: 19.78px;
  height: 10.18px;
}

.cloud-l {
  background: #FFFFFF;
  -webkit-box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
          box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
  border-radius: 50% 50% 10% 10%;
  position: absolute;
}

.cloud-l-1 {
  left: 90%;
  top: 13%;
  width: 77.81px;
  height: 39px;
}

.cloud-l-2 {
  left: 15%;
  top: 61.5%;
  width: 49.64px;
  height: 24.82px;
  z-index: 2;
}

.cloud-l-3 {
  left: 73%;
  top: 85%;
  width: 68.02px;
  height: 34.54px;
}

.cloud-xxl {
  background: #FFFFFF;
  -webkit-box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
          box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
  border-radius: 70% 70% 10% 10%;
  position: absolute;
  width: 103.47px;
  height: 51.81px;
  top: 82%;
  left: 65%;
}

.cloud-s {
  background: #FFFFFF;
  -webkit-box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
          box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
  border-radius: 70% 70% 20% 20%;
  position: absolute;
  width: 45px;
  height: 23px;
}

.cloud-s-1 {
  left: 93%;
  top: 18%;
}

.cloud-s-2 {
  left: 5%;
  top: 20%;
}

.cloud-s-3 {
  width: 32.63px;
  height: 16.55px;
  top: 63%;
  left: 18%;
}

.cloud-s-4 {
  width: 47.37px;
  height: 24.08px;
  top: 80%;
  left: 70%;
}

header.header {
  background: #FFFFFF;
}
header.header .header__body {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 1fr/1fr 1fr;
}
@media (max-width: 630px) {
  header.header .header__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 1px;
        grid-template: 1fr/1fr 1px;
  }
}
section.hero-box {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-0.13%, rgba(75, 113, 255, 0)), color-stop(131.12%, rgba(107, 137, 248, 0.4))) bottom left no-repeat, -webkit-gradient(linear, left top, left bottom, from(#F4F7FF), to(#F1F5FF)) top left no-repeat;
  background: linear-gradient(360deg, rgba(75, 113, 255, 0) -0.13%, rgba(107, 137, 248, 0.4) 131.12%) bottom left no-repeat, linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%) top left no-repeat;
  padding: 120px 0;
  position: relative;
}
section.hero-box .cloud-xl {
  background: #FFFFFF;
  -webkit-box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
          box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
  position: absolute;
  width: 74.5px;
  height: 76px;
}
section.hero-box .cloud-xl-2 {
  right: -1%;
  top: 70%;
  border-top-left-radius: 80%;
  opacity: 0.5;
}
@media (max-width: 1005px) {
  section.hero-box .cloud-xl-2 {
    display: none;
  }
}
section.hero-box .cloud-xl-1 {
  left: -1%;
  top: 40%;
  border-top-right-radius: 80%;
}
section.hero-box .hero-box__body {
  max-width: 1300px;
  margin: 0 auto;
  background: url("../../images/Vector.png") bottom left no-repeat;
  padding: 0 0 150px 0;
  position: relative;
  z-index: 20;
}
@media (max-width: 1005px) {
  section.hero-box .cloud-xxl {
    display: none;
  }
}
@media (max-width: 1005px) {
  section.hero-box .cloud-s-4 {
    display: none;
  }
}
@media (max-width: 1005px) {
  section.hero-box .cloud-l-3 {
    display: none;
  }
}
section.hero-box h5.hero-box__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
  text-align: center;
  position: relative;
  z-index: 20;
}
section.hero-box h1.hero-box__title {
  font-family: "Quicksand", sans-serif;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #3D4F9F;
  position: relative;
  z-index: 20;
}
section.hero-box h1.hero-box__title span:last-child {
  font-weight: 700;
}
section.hero-box h1.hero-box__title span:first-child {
  font-weight: 100;
}
section.hero-box .hero-box__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #8D96BD;
  max-width: 502px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 20;
}
section.hero-box .hero-box__cloud-com-container {
  max-width: 600px;
  padding: 0 0 0 15px;
  margin: 0 auto;
}
section.hero-box .hero-box__cloud-com-container .hero-box__cloud-com {
  margin: 100px 0 0 0;
  width: 92px;
  height: 63.26px;
  background: #FFFFFF;
  position: relative;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px #C4C4C4 solid;
  border-bottom: none;
  z-index: 20;
}
section.hero-box .hero-box__cloud-com-container .hero-box__cloud-com::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 100%;
  left: calc(50% - 3px);
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  border-top: 3px solid transparent;
  border-right: 6px solid #FFFFFF;
  border-bottom: 3px solid transparent;
}

section.partners {
  border-top: 1px solid #D8E3FE;
  border-bottom: 1px solid #D8E3FE;
}
section.partners .partners__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
section.partners .partners__body .partners__logo {
  position: relative;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding: 3.5% 0 0 15%;
}
section.partners .partners__body .partners__logo img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

section.manage {
  background: #F5F8FF;
}
section.manage .manage__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1150px;
  margin: 0 auto;
  padding: 170px 15px;
}
section.manage .manage__body .manage__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 27px;
}
section.manage .manage__body .manage__main h6.manage__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
}
section.manage .manage__body .manage__main h3.manage__title {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 45px;
  color: #3D4F9F;
}
section.manage .manage__body .manage__main h3.manage__title span {
  font-weight: 900;
}
section.manage .manage__body .manage__main .manage__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #8D96BD;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
section.manage .manage__body .manage__main .manage__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-bottom: 60px;
}
section.manage .manage__body .manage__main .manage__buttons a {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  line-height: 16px;
  font-size: 13px;
}
section.manage .manage__body .manage__main .manage__buttons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section.manage .manage__body .manage__main .manage__buttons .manage__btn.manage__btn-view {
  background: #4C85FF;
  -webkit-box-shadow: 0 5px 15px rgba(188, 199, 255, 0.75);
          box-shadow: 0 5px 15px rgba(188, 199, 255, 0.75);
  padding: 13px 25px;
}
section.manage .manage__body .manage__main .manage__buttons .manage__btn.manage__btn-view a {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
}
section.manage .manage__body .manage__main .manage__buttons .manage__btn.manage__btn-view a::after {
  content: "";
  display: block;
  width: 6.5px;
  height: 7.2px;
  background: url("../../images/Polygon.png") top left no-repeat;
}
section.manage .manage__body .manage__main .manage__buttons .manage__btn.manage__btn-features {
  padding: 13px 21px;
  border: 1px solid #D1D1E4;
}
section.manage .manage__body .manage__main .manage__buttons .manage__btn.manage__btn-features a {
  font-weight: 500;
  color: #ADB4D2;
}
section.manage .manage__body .manage__illustration {
  position: relative;
  padding: 26%;
}
@media (max-width: 650px) {
  section.manage .manage__body .manage__illustration {
    display: none;
  }
}
section.manage .manage__body .manage__illustration img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

section.about {
  background: #FFFFFF;
}
section.about .about__body {
  padding: 60px 0;
  position: relative;
}
section.about .about__body .about__cloud {
  background: #ECF1FC;
}
section.about .about__body .cloud-xxs {
  left: 20%;
  top: 10%;
}
section.about .about__body .cloud-l {
  width: 46.39px;
  height: 23.78px;
  background-color: #E1EAFF;
}
section.about .about__body .about__cloud.cloud-l.cloud-l-1 {
  left: 18%;
  top: 11%;
}
section.about .about__body .about__cloud.cloud-s.cloud-s-1 {
  width: 31px;
  height: 16px;
  left: 90%;
  top: 27%;
  background: #ECF1FC;
}
section.about .about__body .about__cloud.cloud-s.cloud-s-2 {
  width: 36.75px;
  height: 18.78px;
  left: 87%;
  top: 30%;
  background: #EEF3FF;
  z-index: 6;
}
section.about .about__body .about__cloud.cloud-xl {
  -webkit-box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
          box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
  border-radius: 70% 70% 10% 10%;
  position: absolute;
}
section.about .about__body .about__cloud.cloud-xl-1 {
  width: 77.81px;
  height: 39px;
  top: 31%;
  left: 87%;
  background: #D5E0FB;
  z-index: 7;
}
section.about .about__body .about__cloud.cloud-l.cloud-l-2 {
  width: 51.16px;
  height: 26px;
  left: 91%;
  top: 35%;
  background: #E1EAFF;
  z-index: 6;
}
section.about .about__body .about__cloud.cloud-xs.cloud-xs-1 {
  width: 36.75px;
  height: 18.78px;
  left: 10%;
  top: 80%;
  background: #EEF3FF;
}
section.about .about__body .about__cloud.cloud-l.cloud-l-3 {
  width: 44px;
  height: 22px;
  left: 9%;
  top: 83%;
  background: #D5E0FB;
  z-index: 6;
}
section.about .about__body .about__cloud.cloud-xl.cloud-xl-2 {
  width: 81px;
  height: 41px;
  left: 11%;
  top: 81%;
  background: #E1EAFF;
}
section.about .about__body .about__cloud.cloud-xs.cloud-xs-2 {
  width: 31px;
  height: 16px;
  left: 16%;
  top: 85%;
  background: #ECF1FC;
  z-index: 6;
}
section.about .about__body h5.about__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
  text-align: center;
  position: relative;
  z-index: 20;
}
section.about .about__body h2.about__title {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #3D4F9F;
  position: relative;
  z-index: 20;
}
section.about .about__body .about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 92px 15px;
  gap: 20px;
  position: relative;
  z-index: 20;
}
section.about .about__body .about__items .about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 15px;
}
section.about .about__body .about__items .about__item .about__image {
  border: 1px solid #F1F5FF;
  background: #F1F5FF;
  border-radius: 50%;
  padding: 26px 25px;
  width: 73px;
  height: 73px;
}
section.about .about__body .about__items .about__item .about__image-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #4074F8;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
section.about .about__body .about__items .about__item .about__image-text {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  color: #ADB3CB;
  max-width: 150px;
  max-height: 140px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}
section.about .about__body section.about__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 20;
}
section.about .about__body section.about__buttons .about__btn {
  position: relative;
  z-index: 20;
}
section.about .about__body section.about__buttons .about__btn > div {
  width: 113px;
}
section.about .about__body section.about__buttons .about__btn:first-child {
  padding: 13px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #FFD7D7;
  border-radius: 2px;
}
section.about .about__body section.about__buttons .about__btn:first-child a {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #D43F3F;
}
section.about .about__body section.about__buttons .about__btn:nth-child(even) {
  padding: 20px 17px;
}
section.about .about__body section.about__buttons .about__btn:nth-child(even) a {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  text-align: center;
  color: #ADB3CB;
  text-decoration: none;
}

section.analytic .analytic__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
section.analytic .analytic__body > div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.analytic .analytic__body .analytic__customers {
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
  padding: 66px 90px 66px 10px;
}
@media (max-width: 500px) {
  section.analytic .analytic__body .analytic__customers {
    padding-right: 30px;
  }
}
section.analytic .analytic__body .analytic__customers .customers__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
section.analytic .analytic__body .analytic__customers > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
section.analytic .analytic__body .analytic__customers .customers__percentage {
  font-weight: 400;
  font-size: 48px;
  line-height: 83px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
section.analytic .analytic__body .analytic__customers .customers__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
section.analytic .analytic__body .analytic__users {
  background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
  padding: 66px 0 66px 90px;
}
@media (max-width: 500px) {
  section.analytic .analytic__body .analytic__users {
    padding-left: 30px;
  }
}
section.analytic .analytic__body .analytic__users .users__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
section.analytic .analytic__body .analytic__users > div {
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.03em;
  color: #5E80FF;
}
section.analytic .analytic__body .analytic__users .users__amount {
  font-weight: 400;
  font-size: 48px;
  line-height: 83px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
section.analytic .analytic__body .analytic__users .users__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

section.resources {
  background: #F5F8FF;
}
section.resources .resources__body {
  padding: 104px 0;
}
section.resources .resources__body h6.resources__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
  text-align: center;
}
section.resources .resources__body h3.resources__title {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #3D4F9F;
}
section.resources .resources__body .resources__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1050px;
  margin: 92px auto 0 auto;
}
section.resources .resources__body .resources__content .resources__planing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 15px;
}
@media (max-width: 770px) {
  section.resources .resources__body .resources__content .resources__planing::before, section.resources .resources__body .resources__content .resources__planing::after {
    display: none;
  }
}
section.resources .resources__body .resources__content .resources__planing::before {
  content: "";
  width: 50px;
  height: 30px;
  background: url("../../images/arrow-left.png") no-repeat;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 20px 0 0;
}
section.resources .resources__body .resources__content .resources__planing::after {
  content: "";
  width: 50px;
  height: 30px;
  background: url("../../images/arrow-right.png") no-repeat;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 0 0 20px;
  padding: 0 15px 0 0;
}
section.resources .resources__body .resources__content .resources__planing .planing__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  border: 1px solid #D8E3FE;
  -webkit-box-shadow: 0 15px 50px #EFF4FF;
          box-shadow: 0 15px 50px #EFF4FF;
  padding: 64px 41px 63px 35px;
}
@media (max-width: 770px) {
  section.resources .resources__body .resources__content .resources__planing .planing__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
section.resources .resources__body .resources__content .resources__planing .planing__body .planing__image {
  position: relative;
  padding: 0 10px 0 50%;
}
@media (max-width: 770px) {
  section.resources .resources__body .resources__content .resources__planing .planing__body .planing__image {
    padding: 100% 0 0 50%;
  }
}
section.resources .resources__body .resources__content .resources__planing .planing__body .planing__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.resources .resources__body .resources__content .resources__planing .planing__body .planing__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 32px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
@media (max-width: 770px) {
  section.resources .resources__body .resources__content .resources__planing .planing__body .planing__content {
    padding: 0 50px;
  }
}
section.resources .resources__body .resources__content .resources__planing .planing__body .planing__content .planing__title {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #3D4F9F;
}
section.resources .resources__body .resources__content .resources__planing .planing__body .planing__content .planing__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8D96BD;
}
section.resources .resources__body .resources__content .resources__planing .planing__body .planing__content .planing__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
section.resources .resources__body .resources__content .resources__planing .planing__body .planing__content .planing__buttons .planing__btn__read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #D2E1FF;
  border-radius: 2px;
  padding: 13px 16px;
}
section.resources .resources__body .resources__content .resources__planing .planing__body .planing__content .planing__buttons .planing__btn__read-more a {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}
section.resources .resources__body .resources__content .resources__planing .planing__body .planing__content .planing__buttons .planing__btn__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5px 6px;
}
section.resources .resources__body .resources__content .resources__planing .planing__body .planing__content .planing__buttons .planing__btn__add a {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #A6B6DA;
}

section.customers {
  background: -webkit-gradient(linear, left top, left bottom, from(#EAF0FF), to(#F6F9FF));
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section.customers .customers__body {
  max-width: 902px;
  margin: 0 auto;
  padding: 146px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}
@media (max-width: 770px) {
  section.customers .customers__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
section.customers .customers__body .customers__content {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 31px;
}
section.customers .customers__body .customers__content .customers__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
}
section.customers .customers__body .customers__content .customers__title {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #3D4F9F;
}
section.customers .customers__body .customers__content .customers__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #A4ABC8;
  opacity: 0.6;
}
section.customers .customers__body .customers__slide-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 60px;
}
section.customers .customers__body .customers__slide-block .slide-block__content {
  background: #FFFFFF;
  border: 1px solid #D8E3FE;
  -webkit-box-shadow: 0 5px 50px #F3F5FA;
          box-shadow: 0 5px 50px #F3F5FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
section.customers .customers__body .customers__slide-block .slide-block__content .slide-block__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #676F95;
  padding: 60px 20px;
}
section.customers .customers__next-image {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 146px 0;
  width: 100px;
}
@media (max-width: 770px) {
  section.customers .customers__next-image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 100px 0 0 0;
  }
}
@media (max-width: 455px) {
  section.customers .customers__next-image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 150px 0 0 0;
  }
}
section.customers .customers__next-image .next-image__content {
  opacity: 0.5;
  background: #FFFFFF;
  border: 1px solid #D8E3FE;
  -webkit-box-shadow: 0 5px 50px #F3F5FA;
          box-shadow: 0 5px 50px #F3F5FA;
  position: relative;
  left: 35%;
}
section.customers .customers__next-image .next-image__content .next-image__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8D96BD;
  padding: 60px 20px;
}

section.questions {
  background: #FFFFFF;
}
section.questions .questions__body {
  max-width: 743px;
  margin: 0 auto;
  padding: 170px 15px;
}
section.questions .questions__body .questions__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
  text-align: center;
}
section.questions .questions__body .questions__title {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #3D4F9F;
  margin: 0 0 68px 0;
}
section.questions .questions__body .questions__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 17px;
}
section.questions .questions__body .questions__content section.questions__question .question__text {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #8E96B7;
  padding: 0 0 0 35px;
  cursor: pointer;
}
section.questions .questions__body .questions__content section.questions__question .question__answer .answer__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8D96BD;
  max-width: 463px;
}
section.questions .questions__body .questions__content section.questions__question .question__answer .answer__documentation.documentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #E8ECF4;
  border-radius: 2px;
  width: 195px;
  height: 40px;
}
section.questions .questions__body .questions__content section.questions__question .question__answer .answer__documentation.documentation a {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #7382A3;
  padding: 13px 15px;
}

section.get-started {
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
}
section.get-started .get-started__body {
  max-width: 1104px;
  margin: 0 auto;
  padding: 91px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  position: relative;
  z-index: 20;
}
section.get-started .get-started__body .cloud {
  position: absolute;
  border-radius: 70% 70% 20% 20%;
  -webkit-box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
          box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
  background: #FFFFFF;
  opacity: 0.5;
  z-index: 2;
}
@media (max-width: 690px) {
  section.get-started .get-started__body .cloud {
    display: none;
  }
}
section.get-started .get-started__body .cloud.cloud-xl-1 {
  -webkit-box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
          box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
  width: 136.99px;
  height: 69.85px;
  top: 20%;
  left: 5%;
  z-index: 2;
}
section.get-started .get-started__body .cloud.cloud-xl-2 {
  width: 157px;
  height: 79px;
  left: 10%;
  top: 23%;
  z-index: 3;
}
section.get-started .get-started__body .cloud.cloud-l-1 {
  background: #567AFF;
  width: 115.57px;
  height: 59.52px;
  left: 3%;
  top: 36%;
  z-index: 10;
}
section.get-started .get-started__body .cloud.cloud-l-2 {
  width: 136.99px;
  height: 69.85px;
  left: 80%;
  top: 50%;
}
section.get-started .get-started__body .cloud.cloud-xl-3 {
  background: #567AFF;
  width: 164.04px;
  height: 81.84px;
  left: 70%;
  top: 60%;
}
section.get-started .get-started__body .cloud.cloud-xxl {
  width: 200.97px;
  height: 100.52px;
  left: 80%;
  top: 60%;
}
section.get-started .get-started__body .cloud.cloud-l-3 {
  background: #567AFF;
  width: 115.57px;
  height: 59.52px;
  left: 90%;
  top: 65%;
}
section.get-started .get-started__body .cloud.cloud-s {
  background: #567AFF;
  width: 51px;
  height: 25px;
  left: 5%;
  top: 70%;
}
section.get-started .get-started__body .cloud.cloud-xl-4 {
  width: 139px;
  height: 70px;
  left: 10%;
  top: 74%;
  background: #567AFF;
}
section.get-started .get-started__body .get-started__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}
section.get-started .get-started__body .get-started__title {
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
}
section.get-started .get-started__body .get-started__title span {
  font-weight: 700;
}
section.get-started .get-started__body .get-started__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
section.get-started .get-started__body .get-started__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.get-started .get-started__body .get-started__buttons a {
  text-decoration: none;
}
section.get-started .get-started__body .get-started__buttons .get-started__btn.get-started__btn-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0 5px 15px #6480E8;
          box-shadow: 0 5px 15px #6480E8;
}
section.get-started .get-started__body .get-started__buttons .get-started__btn.get-started__btn-view a {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #565F82;
  padding: 13px 17px;
}
section.get-started .get-started__body .get-started__buttons .get-started__btn.get-started__btn-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 1px solid #A0B4FF;
}
section.get-started .get-started__body .get-started__buttons .get-started__btn.get-started__btn-features a {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #C7D3FF;
  padding: 13px 9px;
}

section.form {
  background: #FCFDFF;
}
section.form .form__body {
  max-width: 887px;
  margin: 0 auto;
  padding: 118px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}
@media (max-width: 770px) {
  section.form .form__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
  }
}
section.form .form__body .form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 18px;
}
section.form .form__body .form__content .form__title {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  color: #3D4F9F;
}
section.form .form__body .form__content .form__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8D96BD;
  text-align: left;
  max-width: 330px;
}
section.form .form__body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
}
@media (max-width: 490px) {
  section.form .form__body form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
section.form .form__body form label input#email {
  background: #EFEFF7;
  border-radius: 5px;
  padding: 21px 100px 21px 23px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #7A85AD;
}
section.form .form__body form button {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 22px 60px;
  background: #4D6CE1;
  -webkit-box-shadow: 0 5px 15px rgba(116, 104, 255, 0.2);
          box-shadow: 0 5px 15px rgba(116, 104, 255, 0.2);
  border-radius: 5px;
  width: 184px;
  height: 59px;
}

footer.footer {
  padding: 60px 0 20px 0;
}
footer.footer .container .footer__body {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 1fr 1fr/1fr 1fr;
}
@media (max-width: 630px) {
  footer.footer .container .footer__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 1px;
        grid-template: 1fr/1fr 1px;
  }
}
footer.footer .container .footer__body aside.footer__aside {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
footer.footer .container .footer__body .footer__messenger.messenger {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
footer.footer .container .footer__body .footer__post {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-row-align: center;
      align-self: center;
  padding: 0 0 0 60px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #AEB8D0;
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 33px 0 33px 0;
}

.aside-item {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #697CA6;
  text-shadow: 0 0 5px #E6E6E6;
  padding: 0 10px 0 0;
}
.aside-item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #5E81FE;
}
.aside-item:first-child::before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  background-color: #5E81FE;
  border-radius: 50%;
  margin: 0 20px 0 0;
}

.messenger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 630px) {
  .messenger {
    display: none;
  }
}

.messenger-item {
  margin: 0 30px 0 0;
}

.messenger-button {
  padding: 20px;
  background: #D2E1FF;
  border-radius: 2px;
}
.messenger-button a {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #3A79FF;
}

.slider {
  padding: 0 0 105px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}
.slider .cycle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.slider .cycle:first-child {
  background: #5283FF;
}
.slider .cycle:not(:first-child) {
  background: #D1D6E3;
}

.active .question__text {
  -webkit-transition: background 0.1s ease 0s;
  transition: background 0.1s ease 0s;
  background: url("../../images/arrow-up.png") 0 4px no-repeat;
}
.active .question__answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0 0 0;
}

.passive .question__text {
  -webkit-transition: background 0.1s ease 0s;
  transition: background 0.1s ease 0s;
  background: url("../../images/arrow-down.png") 0 4px no-repeat;
}
.passive .question__answer {
  display: none;
}

hr {
  border-top: 1px solid #D8E3FE;
}