@import 'nullstyle';

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html, body {
  height: 100%;
  width: 100%;
}


.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}


.footer {
  flex-grow: 0;
  flex-shrink: 1;
}
.main {
  flex-grow: 1;
  flex-shrink: 0;
}

.cloud-xs {
  background: #FFFFFF;
  box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
  border-radius: 70% 70% 20% 20%;
  position: absolute;
}
.cloud-xs-1 {
  left: 90%;
  top: 11%;
  width: 31px;
  height: 16px;
}
.cloud-xs-2 {
  width: 23.44px;
  height: 11.95px;
  left: 15%;
  top: 61%;
}
.cloud-xxs {
  background: #FFFFFF;
  box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
  border-radius: 70% 70% 20% 20%;
  position: absolute;
  left: 20%;
  top: 58%;
  width: 19.78px;
  height: 10.18px;
}
.cloud-l {
  background: #FFFFFF;
  box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
  border-radius: 50% 50% 10% 10%;
  position: absolute;
}
.cloud-l-1 {
  left: 90%;
  top: 13%;
  width: 77.81px;
  height: 39px;
}
.cloud-l-2 {
  left: 15%;
  top: 61.5%;
  width: 49.64px;
  height: 24.82px;
  z-index: 2;
}
.cloud-l-3 {
  left: 73%;
  top: 85%;
  width: 68.02px;
  height: 34.54px;
}
.cloud-xxl {
  background: #FFFFFF;
  box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
  border-radius: 70% 70% 10% 10%;
  position: absolute;
  width: 103.47px;
  height: 51.81px;
  top: 82%;
  left: 65%;
}
.cloud-s {
  background: #FFFFFF;
  box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
  border-radius: 70% 70% 20% 20%;
  position: absolute;
  width: 45px;
  height: 23px;
}
.cloud-s-1 {
  left: 93%;
  top: 18%;
}
.cloud-s-2 {
  left: 5%;
  top: 20%;
}
.cloud-s-3 {
  width: 32.63px;
  height: 16.55px;
  top: 63%;
  left: 18%;
}
.cloud-s-4 {
  width: 47.37px;
  height: 24.08px;
  top: 80%;
  left: 70%;
}


header.header {
  background: #FFFFFF;
  .header__body {
    display: grid;
    grid-auto-flow: column;
    grid-template: 1fr / 1fr 1fr;
    @media (max-width: 630px) {
      display: grid;
      grid-template: 1fr / 1fr 1px;
    }
    aside.header__aside {
      .header__aside-item {
      }
    }
    .header__messenger {
      .header__messenger-item {
      }
      .header__messenger-button {
      }
    }
  }
}

section.hero-box {
  background: linear-gradient(360deg, rgba(75, 113, 255, 0) -0.13%, rgba(107, 137, 248, 0.4) 131.12%) bottom left no-repeat, linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%) top left no-repeat;
  padding: 120px 0;
  position: relative;
  .cloud-xl {
    background: #FFFFFF;
    box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
    position: absolute;
    width: 74.5px;
    height: 76px;
    }
  .cloud-xl-2 {
    right: -1%;
    top: 70%;
    border-top-left-radius: 80%;
    opacity: 0.5;
    @media (max-width: 1005px) {
      display: none;
    }
  }
  .cloud-xl-1 {
    left: -1%;
    top: 40%;
    border-top-right-radius: 80%;
  }
  .hero-box__body {
    max-width: 1300px;
    margin: 0 auto;
    background: url("../../images/Vector.png") bottom left no-repeat;
    padding: 0 0 150px 0;
    position: relative;
    z-index: 20;
  }
  .cloud-xxl {
    @media (max-width: 1005px) {
      display: none;
    }
  }
  .cloud-s-4 {
    @media (max-width: 1005px) {
      display: none;
    }
  }
  .cloud-l-3 {
    @media (max-width: 1005px) {
      display: none;
    }
  }
  h5.hero-box__subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
    text-align: center;
    position: relative;
    z-index: 20;
  }
  h1.hero-box__title {
    font-family: 'Quicksand', sans-serif;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #3D4F9F;
    position: relative;
    z-index: 20;
    span:last-child {
      font-weight: 700
    }
    span:first-child {
      font-weight: 100;
    }
  }
  .hero-box__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #8D96BD;
    max-width: 502px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 20;
  }
  .hero-box__cloud-com-container {
    max-width: 600px;
    padding: 0 0 0 15px;
    margin: 0 auto;
    .hero-box__cloud-com {
      margin: 100px 0 0 0;
      width: 92px;
      height: 63.26px;
      background: #FFFFFF;
      position: relative;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px #C4C4C4 solid;
      border-bottom: none;
      z-index: 20;
      &::before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 100%;
        left: calc(50% - 3px);
        transform: rotate(270deg);
        border-top: 3px solid transparent;
        border-right: 6px solid #FFFFFF;
        border-bottom: 3px solid transparent;
      }
    }
  }
}

section.partners {
  border-top: 1px solid #D8E3FE;
  border-bottom: 1px solid #D8E3FE;
  .partners__body {
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
    column-gap: 20px;
    .partners__logo {
      position: relative;
      flex-shrink: 1;
      flex-grow: 0;
      flex-basis: 20%;
      padding: 3.5% 0 0 15%;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: contain;
      }
    }
  }
}

section.manage {
  background: #F5F8FF;
  .manage__body {
    display: flex;
    flex-direction: row;
    max-width: 1150px;
    margin: 0 auto;
    padding: 170px 15px;
    .manage__main {
      display: flex;
      flex-direction: column;
      row-gap: 27px;
      h6.manage__subtitle {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #3D4F9F;

      }
      h3.manage__title {
        font-family: 'Quicksand', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 45px;
        color: #3D4F9F;
        span {
          font-weight: 900;
        }
      }
      .manage__text {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 29px;
        letter-spacing: 0.03em;
        color: #8D96BD;
        flex-grow: 1;

      }
      .manage__buttons {
        display: flex;
        flex-direction: row;
        flex-grow: 0;
        flex-shrink: 1;
        margin-bottom: 60px;
        a {
          font-family: 'Quicksand', sans-serif;
          text-decoration: none;
          line-height: 16px;
          font-size: 13px;
        }
        div {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .manage__btn.manage__btn-view {
          background: #4C85FF;
          box-shadow: 0 5px 15px rgba(188, 199, 255, 0.75);
          padding: 13px 25px;
          a {
            color: #FFFFFF;
            font-weight: 700;
            font-size: 13px;
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 6px;
            &::after {
              content: "";
              display: block;
              width: 6.5px;
              height: 7.2px;
              background: url("../../images/Polygon.png") top left no-repeat;
            }
          }
        }
        .manage__btn.manage__btn-features {
          padding: 13px 21px;
          border: 1px solid #D1D1E4;
          a {
            font-weight: 500;
            color: #ADB4D2;
          }
        }
      }
    }
    .manage__illustration {
      position: relative;
      padding: 26%;
      @media (max-width: 650px) {
        display: none;
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
      }
    }
  }
}

section.about {
  background: #FFFFFF;;
  .about__body {
    padding: 60px 0;
    position: relative;
    .about__cloud {
      background: #ECF1FC;
    }
    .cloud-xxs {
      left: 20%;
      top: 10%;
    }
    .cloud-l {
      width: 46.39px;
      height: 23.78px;
      background-color: #E1EAFF;
    }
    .about__cloud.cloud-l.cloud-l-1 {
      left: 18%;
      top: 11%;
    }
    .about__cloud.cloud-s.cloud-s-1 {
      width: 31px;
      height: 16px;
      left: 90%;
      top: 27%;
      background: #ECF1FC;
    }
    .about__cloud.cloud-s.cloud-s-2 {
      width: 36.75px;
      height: 18.78px;
      left: 87%;
      top: 30%;
      background: #EEF3FF;
      z-index: 6;
    }
    .about__cloud.cloud-xl {
      box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
      border-radius: 70% 70% 10% 10%;
      position: absolute;
    }
    .about__cloud.cloud-xl-1 {
      width: 77.81px;
      height: 39px;
      top: 31%;
      left: 87%;
      background: #D5E0FB;
      z-index: 7;
    }
    .about__cloud.cloud-l.cloud-l-2 {
      width: 51.16px;
      height: 26px;
      left: 91%;
      top: 35%;
      background: #E1EAFF;
      z-index: 6;
    }
    .about__cloud.cloud-xs.cloud-xs-1 {
      width: 36.75px;
      height: 18.78px;
      left: 10%;
      top: 80%;
      background: #EEF3FF;
    }
    .about__cloud.cloud-l.cloud-l-3 {
      width: 44px;
      height: 22px;
      left: 9%;
      top: 83%;
      background: #D5E0FB;
      z-index: 6;
    }
    .about__cloud.cloud-xl.cloud-xl-2 {
      width: 81px;
      height: 41px;
      left: 11%;
      top: 81%;
      background: #E1EAFF;
    }
    .about__cloud.cloud-xs.cloud-xs-2 {
      width: 31px;
      height: 16px;
      left: 16%;
      top: 85%;
      background: #ECF1FC;
      z-index: 6;
    }


    h5.about__subtitle {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #3D4F9F;
      text-align: center;
      position: relative;
      z-index: 20;
    }
    h2.about__title {
      font-family: 'Quicksand', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      color: #3D4F9F;
      position: relative;
      z-index: 20;

    }
    .about__items {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 92px 15px;
      gap: 20px;
      position: relative;
      z-index: 20;
      .about__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 15px;
        .about__image {
          border: 1px solid #F1F5FF;
          background: #F1F5FF;
          border-radius: 50%;
          padding: 26px 25px;
          width: 73px;
          height: 73px;
        }
        .about__image-title {
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
          font-size: 14px;
          line-height: 25px;
          text-align: center;
          color: #4074F8;
          flex-grow: 1;
        }
        .about__image-text {
          text-align: center;
          font-family: 'Open Sans', sans-serif;
          font-weight: 600;
          font-size: 11px;
          line-height: 19px;
          color: #ADB3CB;
          max-width: 150px;
          max-height: 140px;
          flex-grow: 0;
          flex-shrink: 1;
          flex-basis: 35%;
        }
      }
    }
    section.about__buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: relative;
      z-index: 20;
      .about__btn {
        position: relative;
        z-index: 20;
        > div {
          width: 113px;
        }
        &:first-child {
          padding: 13px 16px;
          display: flex;
          align-items: center;
          text-align: center;
          background: #FFD7D7;
          border-radius: 2px;
          a {
            font-family: 'Quicksand', sans-serif;
            font-weight: 700;
            font-size: 13px;
            line-height: 16px;
            color: #D43F3F;
          }
        }
        &:nth-child(even) {
          padding: 20px 17px;
          a {
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 11px;
            line-height: 19px;
            text-align: center;
            color: #ADB3CB;
            text-decoration: none;
          }
        }
      }
    }
  }
}

section.analytic {
  .analytic__body {
    width: 100%;
    display: flex;
    flex-direction: row;
    > div {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
    }
    .analytic__customers {
      background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
      padding: 66px 90px 66px 10px;
      @media (max-width:500px) {
        padding-right: 30px
      }
      .customers__image {
        display: flex;
        justify-content: flex-end;
        img {}
      }
      > div {
        display: flex;
        justify-content: flex-end;
        font-family: 'Quicksand', sans-serif;
        letter-spacing: 0.03em;
        color: #FFFFFF;
      }
      .customers__percentage {
        font-weight: 400;
        font-size: 48px;
        line-height: 83px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        flex-grow: 1;
        flex-shrink: 0;

      }
      .customers__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        flex-grow: 0;
        flex-shrink: 1;
      }
    }
    .analytic__users {
      background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
      padding: 66px 0 66px 90px;
      @media (max-width:500px) {
        padding-left: 30px
      }
      .users__image {
        display: flex;
        justify-content: flex-start;
        img {}
      }
      > div {
        font-family: 'Quicksand', sans-serif;
        letter-spacing: 0.03em;
        color: #5E80FF;
      }
      .users__amount {
        font-weight: 400;
        font-size: 48px;
        line-height: 83px;
        flex-grow: 1;
        flex-shrink: 0;

      }
      .users__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        flex-grow: 0;
        flex-shrink: 1;
      }
    }
  }
}

section.resources {
  background: #F5F8FF;
  .resources__body {
    padding: 104px 0;
    h6.resources__subtitle {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #3D4F9F;
      text-align: center;

    }
    h3.resources__title {
      font-family: 'Quicksand', sans-serif;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      color: #3D4F9F;
    }
    .resources__content {
      display: flex;
      flex-direction: row;
      max-width: 1050px;
      margin: 92px auto 0 auto;
      .resources__planing {
        display: flex;
        flex-direction: row;
        margin: 0 15px;
        &::before, &::after {
          @media (max-width: 770px) {
            display: none;
          }
        }
        &::before {
          content: "";
          width: 50px;
          height: 30px;
          background: url("../../images/arrow-left.png") no-repeat;
          align-self: center;
          margin: 0 20px 0 0;
        }
        &::after {
          content: "";
          width: 50px;
          height: 30px;
          background: url("../../images/arrow-right.png") no-repeat;
          align-self: center;
          margin: 0 0 0 20px;
          padding: 0 15px 0 0;

        }
        .planing__body {
          display: flex;
          flex-direction: row;
          column-gap: 30px;
          border: 1px solid #D8E3FE;
          box-shadow: 0 15px 50px #EFF4FF;
          padding: 64px 41px 63px 35px;
          @media (max-width: 770px) {
            flex-direction: column;
          }
          .planing__image {
            position: relative;
            padding: 0 10px 0 50%;
            @media (max-width: 770px) {
              padding: 100% 0 0 50%;
            }
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .planing__content {
            display: flex;
            flex-direction: column;
            row-gap: 32px;
            flex-basis: 50%;
            @media (max-width: 770px) {
              padding: 0 50px;
            }
            .planing__title {
              font-family: 'Quicksand', sans-serif;
              font-weight: 400;
              font-size: 36px;
              line-height: 45px;
              color: #3D4F9F;

            }
            .planing__text {
              font-family: 'Roboto', sans-serif;
              font-weight: 400;
              font-size: 14px;
              line-height: 27px;
              letter-spacing: 0.03em;
              color: #8D96BD;
            }
            .planing__buttons {
              display: flex;
              flex-direction: row;
              column-gap: 8px;
              .planing__btn__read-more {
                display: flex;
                align-items: center;
                text-align: center;
                background: #D2E1FF;
                border-radius: 2px;
                padding: 13px 16px;
                a {
                  font-family: 'Quicksand', sans-serif;
                  font-weight: 700;
                  font-size: 13px;
                  line-height: 16px;
                }
              }
              .planing__btn__add {
                display: flex;
                align-items: center;
                text-align: center;
                padding: 5px 6px;
                a {
                  font-family: 'Quicksand', sans-serif;
                  font-weight: 700;
                  font-size: 13px;
                  line-height: 16px;
                  color: #A6B6DA;
                }
              }
            }
          }
        }
      }
    }
  }
}

section.customers {
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
  display: flex;
  .customers__body {
    max-width: 902px;
    margin: 0 auto;
    padding: 146px 20px;
    display: flex;
    gap: 100px;

    @media (max-width: 770px) {
      flex-direction: column;
    }
    .customers__content {
      flex-basis: 80%;
      display: flex;
      flex-direction: column;
      row-gap: 31px;
      .customers__subtitle {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #3D4F9F;

      }
      .customers__title {
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        font-size: 36px;
        line-height: 45px;
        color: #3D4F9F;

      }
      .customers__text {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 23px;
        letter-spacing: 0.03em;
        color: #A4ABC8;
        opacity: 0.6;

      }
    }
    .customers__slide-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 60px;
      .slide-block__content {
        background: #FFFFFF;
        border: 1px solid #D8E3FE;
        box-shadow: 0 5px 50px #F3F5FA;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 0;
        .slide-block__text {
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.03em;
          color: #676F95;
          padding: 60px 20px;
        }
      }
    }
  }
  .customers__next-image {
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    padding: 146px 0;
    width: 100px;
    @media (max-width: 770px) {
      justify-content: center;
      margin: 100px 0 0 0;
    }
    @media (max-width: 455px) {
      justify-content: center;
      margin: 150px 0 0 0;
    }
    .next-image__content {
      opacity: 0.5;
      background: #FFFFFF;
      border: 1px solid #D8E3FE;
      box-shadow: 0 5px 50px #F3F5FA;
      position: relative;
      left: 35%;
      .next-image__text {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 27px;
        letter-spacing: 0.03em;
        color: #8D96BD;
        padding: 60px 20px;
      }
    }
  }

}

section.questions {
  background: #FFFFFF;
  .questions__body {
    max-width: 743px;
    margin: 0 auto;
    padding: 170px 15px;
    .questions__subtitle {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #3D4F9F;
      text-align: center;
    }
    .questions__title {
      font-family: 'Quicksand', sans-serif;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      color: #3D4F9F;
      margin: 0 0 68px 0;
    }
    .questions__content {
      display: flex;
      flex-direction: column;
      row-gap: 17px;
      section.questions__question {
        .question__text {
          font-family: 'Quicksand', sans-serif;
          font-weight: 500;
          font-size: 15px;
          line-height: 19px;
          display: flex;
          align-items: center;
          letter-spacing: 0.03em;
          color: #8E96B7;
          padding: 0 0 0 35px;
          cursor: pointer;
        }
        .question__answer {
          .answer__text {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 27px;
            letter-spacing: 0.03em;
            color: #8D96BD;
            max-width: 463px;
          }
          .answer__documentation.documentation {
            display: flex;
            align-items: center;
            text-align: center;
            background: #E8ECF4;
            border-radius: 2px;
            width: 195px;
            height: 40px;
            a {
              font-family: 'Quicksand', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 13px;
              line-height: 16px;
              color: #7382A3;
              padding: 13px 15px;

            }
          }
        }
      }
    }
  }
}

section.get-started {
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
  .get-started__body {
    max-width: 1104px;
    margin: 0 auto;
    padding: 91px 15px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
    z-index: 20;
    .cloud {
      position: absolute;
      border-radius: 70% 70% 20% 20%;
      box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
      background: #FFFFFF;
      opacity: 0.5;
      z-index: 2;
      @media (max-width: 690px) {
        display: none;
      }
    }
    .cloud.cloud-xl-1 {
      box-shadow: 0 5px 45px rgba(151, 175, 227, 0.1);
      width: 136.99px;
      height: 69.85px;
      top: 20%;
      left: 5%;
      z-index: 2;
    }
    .cloud.cloud-xl-2 {
      width: 157px;
      height: 79px;
      left: 10%;
      top: 23%;
      z-index: 3;
    }
    .cloud.cloud-l-1 {
      background: #567AFF;
      width: 115.57px;
      height: 59.52px;
      left: 3%;
      top: 36%;
      z-index: 10;
    }
    .cloud.cloud-l-2 {
      width: 136.99px;
      height: 69.85px;
      left: 80%;
      top: 50%;
    }
    .cloud.cloud-xl-3 {
      background: #567AFF;
      width: 164.04px;
      height: 81.84px;
      left: 70%;
      top: 60%;
    }
    .cloud.cloud-xxl {
      width: 200.97px;
      height: 100.52px;
      left: 80%;
      top: 60%;
    }
    .cloud.cloud-l-3 {
      background: #567AFF;
      width: 115.57px;
      height: 59.52px;
      left: 90%;
      top: 65%;
    }
    .cloud.cloud-s {
      background: #567AFF;
      width: 51px;
      height: 25px;
      left: 5%;
      top: 70%;
    }
    .cloud.cloud-xl-4 {
      width: 139px;
      height: 70px;
      left: 10%;
      top: 74%;
      background: #567AFF;
    }
    .get-started__subtitle {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFFFFF;
      text-align: center;
    }
    .get-started__title {
      font-family: 'Quicksand', sans-serif;
      font-weight: 100;
      font-size: 48px;
      line-height: 60px;
      text-align: center;
      color: #FFFFFF;
      span {
        font-weight: 700;
      }
    }
    .get-started__text {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 29px;
      letter-spacing: 0.03em;
      color: #FFFFFF;
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
    }
    .get-started__buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
      }
      .get-started__btn.get-started__btn-view {
        display: flex;
        align-items: center;
        text-align: center;
        background: #FFFFFF;
        box-shadow: 0 5px 15px #6480E8;
        a {
          font-family: 'Quicksand', sans-serif;
          font-weight: 700;
          font-size: 13px;
          line-height: 16px;
          color: #565F82;
          padding: 13px 17px;

        }
      }
      .get-started__btn.get-started__btn-features {
        display: flex;
        align-items: center;
        text-align: center;
        border: 1px solid #A0B4FF;
        a {
          font-family: 'Quicksand', sans-serif;
          font-weight: 500;
          font-size: 13px;
          line-height: 16px;
          color: #C7D3FF;
          padding: 13px 9px;
        }
      }
    }
  }
}

section.form {
  background: #FCFDFF;
  .form__body {
    max-width: 887px;
    margin: 0 auto;
    padding: 118px 15px;
    display: flex;
    flex-direction: row;
    column-gap: 80px;
    @media (max-width: 770px) {
      flex-direction: column;
      row-gap: 40px;
    }
    .form__content {
      display: flex;
      flex-direction: column;
      row-gap: 18px;
      .form__title {
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: left;
        color: #3D4F9F;
      }

      .form__text {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 27px;
        letter-spacing: 0.03em;
        color: #8D96BD;
        text-align: left;
        max-width: 330px;
      }
    }
    form {
      display: flex;
      flex-direction: row;
      gap: 15px;
      @media (max-width: 490px) {
        flex-direction: column;
      }
      label {
        input#email {
          background: #EFEFF7;
          border-radius: 5px;
          padding: 21px 100px 21px 23px;
          font-family: 'Quicksand', sans-serif;
          font-weight: 700;
          font-size: 13px;
          line-height: 16px;
          color: #7A85AD;
        }
      }
      button {
        font-family: 'Quicksand', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #FFFFFF;
        padding: 22px 60px;
        background: #4D6CE1;
        box-shadow: 0 5px 15px rgba(116, 104, 255, 0.2);
        border-radius: 5px;
        width: 184px;
        height: 59px;
      }
    }
  }
}


footer.footer {
  padding: 60px 0 20px 0;
  .container {
    .footer__body {
      display: grid;
      grid-auto-flow: column;
      grid-template: 1fr 1fr / 1fr 1fr;
      @media (max-width: 630px) {
        display: grid;
        grid-template: 1fr / 1fr 1px;
      }
      aside.footer__aside {
        grid-column: 1 / 2;
        .footer__aside-item {}
      }
      .footer__messenger.messenger {
        grid-column: 2 / 3;
        .footer__messenger-item{
          img {}
        }
        .footer__messenger-button {}
      }
      .footer__post {
        grid-row: 2 / 3;
        align-self: center;
        padding: 0 0 0 60px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #AEB8D0;
      }
    }
  }
}

.aside {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 33px 0 33px 0;
}

.aside-item {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #697CA6;
  text-shadow: 0 0 5px #E6E6E6;
  padding: 0 10px 0 0;
  &:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #5E81FE;
    &::before {
      content: "";
      display: block;
      width: 26px;
      height: 26px;
      background-color: #5E81FE;
      border-radius: 50%;
      margin: 0 20px 0 0;
    }
  }
}

.messenger {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  @media (max-width: 630px) {
    display: none;
  }
}

.messenger-item {
  margin: 0 30px 0 0;
}

.messenger-button {
  padding: 20px;
  background: #D2E1FF;
  border-radius: 2px;
  a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #3A79FF;
  }
}

.slider {
  padding: 0 0 105px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  .cycle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  .cycle:first-child {
    background: #5283FF;
  }
  .cycle:not(:first-child) {
    background: #D1D6E3;
  }
}

.active {
  .question__text {
    transition: background 0.1s ease 0s;
    background: url("../../images/arrow-up.png") 0 4px no-repeat;
  }
  .question__answer {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 16px 0 0 0;
  }
}

.passive {
  .question__text {
    transition: background 0.1s ease 0s;
    background: url("../../images/arrow-down.png") 0 4px no-repeat;
  }
  .question__answer {
    display: none;
  }
}

hr {
  border-top: 1px solid #D8E3FE;
}